.piedepagina{
  padding-top: 90px;
  padding-bottom: 90px;
  background-image:url("../../../assets/images/piedepagina.jpg");
}

    .google-maps {
        position: relative;
        padding-bottom: 60px; // This is the aspect ratio
        overflow: hidden;
    }
    .google-maps iframe {

        top: 0;
        width: 100% !important;

    }

.colorslider{
  margin: auto;
  width: 55%;
  background-color: #0000003b;
}

.colorslider2{
  margin: auto;
  width: 90%;
  background-color: #0000003b;
}


.loader2{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/logo.png') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.MensajeContacto{
  color: white;
  width: 90%;
  background-color: #0000003b;
  font-size: 20px;
}

.alturaTarjeta{
  min-height: 600px !important;
}

.posicionarAbajo{
  bottom: 0px !important;
}
